:root {
  --primary-color: #8ecae6;
  --secondary-color: #023047;
  --buttons: #fca311;
  --animation-duration: 0.4s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background: var(--secondary-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 4rem;
}

/* Header */
#header {
  padding: 1rem 2rem;
  height: 10vh;
}

/* Home page */
#home-a {
  height: 70vh;
}

#home-a .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
