:root {
  --primary-color: #8ecae6;
  --secondary-color: #023047;
  --buttons: #5d5be6;
  --animation-duration: 0.4s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Rubik", sans-serif;
  background: rgb(40, 36, 102);
  background: radial-gradient(
    circle,
    rgba(40, 36, 102, 1) 0%,
    rgba(39, 39, 152, 1) 35%,
    rgba(12, 47, 54, 1) 100%
  );
  color: var(--primary-color);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.5rem;
  line-height: 1;
}
h4 {
  font-size: 1.5rem;
}

/* Header */
#header {
  padding: 1rem 2rem;
  height: 10vh;
}

/* Home page */
#home-a {
  height: 90vh;
}

#home-a .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-a .container .column-left h2 {
  font-size: 5rem;
}

#home-a .container .column-left p {
  max-width: 80%;
}

#home-a .container .column-left .btn {
  margin: 15px 0;
}

#home-a .container .column-left .tag {
  margin-right: 5px;
}

#home-a .container .container-background {
  position: absolute;
  top: 200px;
  left: -20px;
  width: 80%;
  height: 400px;
  opacity: 0.1;
  transform: skew(10deg, 15deg);
  background: #fff;
  border-radius: 20px;
  box-shadow: 5px 10px black;
  padding: 20px;
}

#home-a .container .container-background div {
  display: inline-block;
  height: 12px;
  border-radius: 20px;
  margin-bottom: 20px;
}

#home-a .container .container-bottom-text {
  position: absolute;
  bottom: 0;
  animation-duration: 2.5s;
}
