.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.column-left {
  width: 50%;
  z-index: 1;
}

.column-right {
  width: 50%;
  z-index: 1;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background: var(--buttons);
  border-radius: 10px;
  transition: all var(--animation-duration);
  font-size: 1.2rem;
}

.btn-outlined {
  background: transparent;
  border: 2px solid var(--buttons);
  color: #fff;
}

.btn:hover {
  transform: scale(1.1);
}

.tag {
  display: inline-block;
  background: #5353aa;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(184, 146, 255);
  width: 0%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.tag:hover::before {
  width: 5px;
}

.marker {
  background: #5353aa;
  padding: 0 1rem;
  opacity: 0.9;
  border-radius: 0 20px 0 20px;
  color: rgba(230, 230, 230, 0.753);
}

.card {
  width: 80%;
  height: 500px;
  border-radius: 20px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem;
  color: var(--primary-color);
  box-shadow: 10px 10px 50px;
}

.float-anim {
  animation: float 5s infinite;
}

/* Animations */
@keyframes float {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
